[submodule "vigem"]
	path = dependencies/vigem
	url = https://github.com/nefarius/ViGEmClient
[submodule "dependencies/wxWidgets"]
	path = dependencies/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets
