[submodule "vigem"]
	path = dependencies/vigem
	url = https://github.com/nefarius/ViGEmClient
[submodule "wxwidgets"]
	path = dependencies/wxwidgets
	url = https://github.com/wxWidgets/wxWidgets
[submodule "c7Engine"]
	path = dependencies/c7Engine
	url = https://github.com/Carloschi7/C7Engine